In [7]:
# WAP to print prime number form 1 t 100

for i in range (1,100):
    if (i > 1) :
        for j in range (2,i):
            if (i % j) == 0:
                break
        else:
            print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [9]:
# WAP to Add two Numbers

num1 = int(input("Enter the first number : "))
num2 = int(input("Enter the second number : "))

sum = num1 + num2

print("Sum of {0} and {1} is {2}".format(num1, num2, sum))

Sum of 10 and 20 is 30

In [3]:
#WAP to print the calander 

import calendar

y = 2023
m = 4
print(calendar.month(y,m))

     April 2023
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

In [4]:
#WAP to swap two number

n1 = int(input("Enter first number"))
n2 = int(input("Enter second number"))

n1 = n1 + n2
n2 = n1 - n2
n1 = n1 - n2 
print(" after swaping first is {0} and second is {1}".format(n1,n2))

 after swaping first is 20 and second is 10

In [8]:
#WAP to print factorial 

x = int(input("Enter the number "))
for i in range(1,x):
    x = x*i
print(x)

5040

In [13]:
# Star pattern

row = int(input("Enter the number of row"))
for i in range (row):
    for j in range(i):
        print("*",end=" ")
    print("\n")

*

* *

* * *

* * * *