<a href="https://colab.research.google.com/github/Tananjay-git/python/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1) Check if "apple" exists in the list ["banana", "apple", "mango"]

lis = ["banana", "apple", "mango"]

if "apple" in lis:
    print("True")

True

In [ ]:
# 2) Create a list of 10 numbers and print only the even numbers.
l = [1,2,3,4,5,6,7,8,9,10]
for i in l :
  if i % 2 == 0:
    print(i)

2
4
6
8
10

In [ ]:
# 3) Write a program to reverse a list in two ways
l = [1,2,3,4,5,6,7,8,9,10]
print(l[::-1])
print(l)
l.reverse()
print(l)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Given a list nums = [1, 2, 3, 4, 5],
# Append 6
# Insert 0 at the beginning
# Remove the number 3.

nums = [1, 2, 3, 4, 5]
print(nums)
nums.append(6)
print(nums)
nums.insert(0,0)
print(nums)
nums.remove(3)
print(nums)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 4, 5, 6]

In [ ]:
# 5) Write a program to find the maximum and minimum numbers in a list.
l = [1,4,3,7,9,11,45,12,92,8]

max = min = l[0]
for i in l:
  if i > max:
    max = i
  if i < min:
    min = i

print(max, min)

92 1

In [ ]:
# 6) Given a list of numbers, calculate the sum of elements without using
l = [2,3,5]
print(sum(l[::]))

10

In [ ]:
# 7) Write a program to remove duplicates from this list:
nums = [1, 2, 2, 3, 4, 4, 5]
f = []
for i in nums:
  if i not in f:
    f.append(i)

print(nums)
print(f)

[1, 2, 2, 3, 4, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
# 8) swap the first and last elements.
nums = [10, 20, 30, 40, 50]
print(nums)
nums[0], nums[len(nums)-1] = nums[len(nums)-1], nums[0]
print(nums)

[10, 20, 30, 40, 50]
[50, 20, 30, 40, 10]

In [ ]:
# Given two lists:
a = [1, 2, 3]
b = [4, 5, 6]
# Combine them into one list [1,2,3,4,5,6] without using +
f = []

for i in a:
  f.append(i)
for i in b:
  f.append(i)
print(f)

[1, 2, 3, 4, 5, 6]

In [5]:
a = [1, 2, 3]
b = [4, 5, 6]

f = []
f.extend(a)
f.extend(b)

print(f)

[1, 2, 3, 4, 5, 6]

In [4]:
# Write a program to find the second largest element in a list
l = [1,4,3,7,9,11,45,12,87,92,8]
s = l[0]
m = max(l)
for i in l:
  if i < m and i >= s :
    s =  i

print(s)

87

In [7]:
# Flatten this nested list:
l = [[1, 2], [3, 4], [5, 6]]
f = []
for i in l:
  f.extend(i)
print(f)

[1, 2, 3, 4, 5, 6]

In [13]:
# Write a program to check if a list is palindrome.
l = [1,2,3,7,1]
if l == (l[::-1]):
  print('True')
else:
  print('False')

False

In [11]:
# Sort a list of words by their length.
# Example: ["apple", "kiwi", "banana"] â†’ ["kiwi", "apple", "banana"].
l =  ["apple", "kiwi", "banana"]
op = []
for i in range(0,len(l)):
  if len(l[i]) > len(op[i]):
    op.append(l[i])
print(len(op))

0

In [5]:
# Write a program to split a list into 2 parts: first half and second half.
l = [1,4,3,7,9,11,45,12,87,92,8]
print(l[0:(len(l)//2)])
print(l[(len(l)//2):-1])

[1, 4, 3, 7, 9]
[11, 45, 12, 87, 92]